@tailwind base;
@tailwind components;
@tailwind utilities;

.img-pro:hover {
  animation: shake-left-right 0.8s linear both;
}

.type {
  font-family: 'Niconne', cursive;
  text-shadow: -2px 3px 1px #000000
}

.omega,
.nav {
  font-family: 'Niconne', cursive;
}

#hello {
  display: inline;
  color: #fcedd8;
  text-shadow: 5px 5px 0px #eb452b,
    10px 10px 0px #efa032,
    15px 15px 0px #46b59b,
    20px 20px 0px #017e7f,
    25px 25px 0px #052939
}


@keyframes shake-left-right {

  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }

  10% {
    transform: rotate(8deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }

  80% {
    transform: rotate(-8deg);
  }

  90% {
    transform: rotate(8deg);
  }
}

.slide-top:hover {
  animation: slide-top 0.6s linear both;
}

@keyframes slide-top {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(6px);
  }

  100% {
    transform: translateY(8px);
  }
}

.blur-in:hover {
  animation: blur-in 0.6s linear both;
}

@keyframes blur-in {
  0% {
    filter: blur(3px);
    opacity: 1;
  }

  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.vibrate:hover {
  animation: vibrate 1.5s linear both;
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, 2px);
  }

  80% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}