.burguer {
    z-index: 2;

    /* nav-icon-5 */
    .nav-icon-5 {
        width: 35px;
        height: 30px;
        margin: 10px 10px;
        position: relative;
        cursor: pointer;
        display: inline-block;
    }

    .nav-icon-5 span {
        background-color: #1ED760;
        position: absolute;
        border-radius: 2px;
        transition: .3s cubic-bezier(.8, .5, .2, 1.4);
        width: 100%;
        height: 4px;
        transition-duration: 500ms
    }

    .nav-icon-5 span:nth-child(1) {
        top: 0px;
        left: 0px;
    }

    .nav-icon-5 span:nth-child(2) {
        top: 13px;
        left: 0px;
        opacity: 1;
    }

    .nav-icon-5 span:nth-child(3) {
        bottom: 0px;
        left: 0px;
    }

    .nav-icon-5:not(.open):hover span:nth-child(1) {
        transform: rotate(-3deg) scaleY(1.1);
    }

    .nav-icon-5:not(.open):hover span:nth-child(2) {
        transform: rotate(3deg) scaleY(1.1);
    }

    .nav-icon-5:not(.open):hover span:nth-child(3) {
        transform: rotate(-4deg) scaleY(1.1);
    }

    .nav-icon-5.open span:nth-child(1) {
        transform: rotate(45deg);
        top: 13px;
    }

    .nav-icon-5.open span:nth-child(2) {
        opacity: 0;
    }

    .nav-icon-5.open span:nth-child(3) {
        transform: rotate(-45deg);
        top: 13px;
    }
}

/* NavGhost */
/* .nav-ghost {
    position: relative;
    display: block;
    background-color: red;
    height: 8vh;
} */

.nav-container {
    /* background-color: var(--background-body); */
    box-sizing: border-box;
    width: 100%;
    height: 8vh;
    padding: 0.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    z-index: 3;
}

.nav-container .logo {
    z-index: 2;
    margin: 0;
    flex-grow: 1;
}


.nav-container .links {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: -300vw;
    top: 8vh;
}

.nav-container .links a {
    text-decoration: none;
    margin-right: 1rem;
    display: block;
    font-weight: bolder;
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    .nav-container .links {
        position: initial;
        margin: 0;
        display: block;
    }

    .nav-container .links a {
        /* color: black; */
        display: inline;
        margin-right: 2.5rem;
    }
}

.nav-container .links.active {
    z-index: 2;
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 8vh;
    left: 0;
    right: 0;
    padding: 0 2rem;
    text-align: start;
    transition: all 0.4s ease;
}

.nav-container .links.active a {
    margin-right: 0;
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .nav-container .links.active {
        position: initial;
        margin: 0;
        display: block;
        padding: 0;
        text-align: center;
    }

    .nav-container .links.active a {
        margin-right: 2.5rem;
        font-size: 1.2rem;
        display: inline;
    }
}

.nav-container .burguer {
    @media (min-width: 768px) {
        display: none;
    }
}

/* BgDiv */
.bgdiv {
    z-index: -1;
    background-color: white;
    position: absolute;
    top: -20vh;
    left: 0;
    width: 100%;
    height: 28vh;
    transition: all 0.4s ease;
}

@media (min-width: 768px) {
    .bgdiv {
        display: none;
    }
}

.bgdiv.active {
    z-index: 1;
    top: 0;
    left: 0;
}